body {
background-color: bLack;
background-image: url (http://www.radionetplus.ru/uploads/posts/2012-06/1338965458_radionetplus_23.jpg);
color: #EE82EE;
font-family: Hawaii 5-0, sans-serif;
}

.block1 {
font-size: 32pt;
margin-left: 30%;

}

.block2 {
margin-left: 20%;
}

.block3 {
margin-left: 60px;
font-size: 34pt;
table-layout: auto;
tab-size: 10px;
}

table {
    width: 90%;
    height: auto;
}

caption {
	padding: 39px;
	color:#B0E0E6;
}